.banner {
  text-align: center;
  background-color: #1F2D3D;
}

.title {
  padding-top: 25px;
  font-family: 'Ubuntu', sans-serif;
  color: #1F2D3D;
}

.detail {
  padding-top: 0px;
}

.info {
  font-size: 18px;
}

.banner.title {
  color: #FFFFFF;
}

.banner.info {
  color: #FFFFFF;
}

.ui.grid > .row.banner.detail {
  color: #D3DCE6;
}

.ui.grid > .row.banner.action {
  padding-bottom: 25px;
}

.about-section {
  text-align: left;
}

.about.title {
  text-align: center;
}

.recent-news.title {
  text-align: left;
}

.ui.list.recent-news {
  font-size: 18px;
}
