[Unit]
Description={{ project_name }}-flower daemon
After=network.target
After=syslog.target

[Service]
EnvironmentFile=/etc/sysconfig/{{ project_name }}
User={{ svc_user }}
Group={{ svc_group }}
WorkingDirectory={{ project_home }}
ExecStart={{ project_venv }}/bin/celery flower -A config.celery_app --address=127.0.0.1 --port=5555 --basic_auth={{ project_name }}:{{ flower_password }}
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
