[Unit]
Description={{ project_name }}-taskapp-beat daemon
After=network.target
After=syslog.target

[Service]
EnvironmentFile=/etc/sysconfig/{{ project_name }}
User={{ svc_user }}
Group={{ svc_group }}
WorkingDirectory={{ project_home }}
ExecStart={{ project_venv }}/bin/celery beat -A config.celery_app -l INFO -S django -f {{ project_home }}/logs/celery/{{ project_name }}-taskapp-beat.log
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
