.public_fixedDataTableRow_main.warning .public_fixedDataTableCell_main {
  background-color: #FFC82C;
  color: #1F2D3D;
  opacity: 0.5;
}

.public_fixedDataTableRow_main.error .public_fixedDataTableCell_main {
  background-color: #FF4949;
  color: #1F2D3D;
  opacity: 0.5;
}
