[Unit]
Description=exomeslicer daemon
After=network.target
After=syslog.target

[Service]
EnvironmentFile=/etc/sysconfig/exomeslicer
User={{ svc_user }}
Group={{ svc_group }}
WorkingDirectory={{ project_home }}
ExecStart={{ project_venv }}/bin/gunicorn config.wsgi --workers 4 --access-logfile {{ project_home }}/logs/gunicorn/{{ inventory_hostname }}.access.log --error-logfile {{ project_home }}/logs/gunicorn/{{ inventory_hostname }}.error.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
